@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: pan-y
}

input[type='radio'] {
  display: none;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: "#000";
  border-radius: 10px;
}
